# this file stores the files that should not be pushed to github
# data files are too large
external_test*
internal_test*
VBM_*
external_test.npy
internal_test.npy
test.npy
train.npy
*.tsv
*.zip
# notebooks used in developing the code
*.ipynb
.DS_Store
*.nii.gz

# zip file
data/raw/pulbic_data_challenge.zip

.idea/

# files used for visualization while developing the code
heatmaps.png
